div{
    margin: 1rem;
    display: flex;

}

p{
    padding: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

}

p:nth-last-of-type(1){    flex: 2 1 auto;
}
p:nth-last-of-type(2){    flex: 2 1 auto;
}
p:nth-last-of-type(3){    flex: 1 1 auto;
}
