body{
    margin: 2rem;
    padding: 2rem;
    background-color: bisque;
    header{
        h1{color: rgb(87, 165, 42); }
        width: 70%;
        
        p{ font-size: 1.5rem;}
    }
    section {
        h2{color: rgb(11, 8, 236); }
        width: 50%;
        
        p{ font-size: 1.5rem;}
    }
}