@import url('https://fonts.googleapis.com/css?family=Pacifico');
@font-face {font-family: 'perma'; src: url('../assets/PermanentMarker-Regular.ttf')};

*,
*::after, *::before,
*:after, *:before{
    box-sizing: border-box;
}

body{
    background-color: rgb(229, 229, 157);
}

h1{
/*     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-family: perma,cursive;
}
   
h2{
    font-family: 'Pacifico', cursive, Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: 'Roboto', sans-serif ;
}